<mat-toolbar class="nav">
  <div class="container-fluid mt-3">
    <span class="nav-title"><fa-icon [icon]="faUtensils"></fa-icon>&nbsp;Fudo</span>
    <p class="text-monospace">Food <fa-icon [icon]="faHamburger"></fa-icon>, for me, has always been an adventure</p>
    <mat-form-field class="search-bar">
      <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
      <input matInput placeholder="Tags, Name, Ingredient">
    </mat-form-field>
  </div>
</mat-toolbar>

<mat-toolbar class="second-nav mt-1">
  <div class="btn-group ml-auto">
    <button class="btn btn-outline-primary font-weight-bolder text-monospace mx-2">Create your recipe?</button>
    <button class="btn btn-outline-success font-weight-bolder text-monospace mx-2">Has an account?</button>
  </div>
</mat-toolbar>


