<div class="recipe-grid">
  <ng-container *ngFor="let recipe of recipes">
    <div class="card recipe-card" [routerLink]="['/','recipe', recipe?.id]">
      <img class="recipe-img" [src]="recipe?.image" alt="Recipe Image">
      <div class="card-body">
        <h4 class="font-weight-bold mb-2">{{recipe?.name}}</h4>
        <p>{{recipe?.description}}</p>
        <mat-chip-list class="mt-2 ml-auto">
          <mat-chip *ngFor="let tag of recipe?.tags"
            [ngStyle]="{'background': tag?.color?.background, 'color': tag?.color?.text}" selected>
            {{tag?.name}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </ng-container>
</div>
