<div class="recipe-grid">
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/400/600" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at, corporis esse id numquam porro saepe sit suscipit tempora veniam.</p>
      <mat-chip-list class="mt-2">
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/460/500" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet, consectetur.</h4>
      <mat-chip-list>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/500/300" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/600/600" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
      <mat-chip-list>
        <mat-chip color="warn" selected>Primary fish</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/700/450" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/750/300" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet, consectetur.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/620/520" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/540/410" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/350/600" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet.</h4>
    </div>
  </div>
  <div class="card recipe-card">
    <img class="recipe-img" src="https://picsum.photos/480/700" alt="">
    <div class="card-body">
      <h4 class="font-weight-bold mb-2">Lorem ipsum dolor sit amet.</h4>
    </div>
  </div>
</div>
