.recipe-grid {
  margin-top: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  columns: 1;
  column-gap: 1.5rem;

  .recipe-card {
    display: block;
    width: 100%;
    box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    break-inside: avoid;
    margin-bottom: 1rem;
    cursor: pointer;

    &:before {
      content: '';
      top: 0; bottom: 0; left: 0; right: 0;
      position: absolute;
      z-index: 1;
      border-radius: .5rem;
      background-color: #333;
      opacity: .5;
      background-blend-mode: darken;
      transition: opacity 500ms;
    }

    &:after {
      content: '';
      top: .5rem; bottom: .5rem; left: .5rem; right: .5rem;
      position: absolute;
      z-index: 1;
      border: 1px solid #fff;
    }

    &:hover {
      &:before, &:after {
        opacity: 0;
      }
    }

    .recipe-img {
      width: 100%;
    }

    h4 {
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (min-width: 2101px) {
  .recipe-grid {
    columns: 6;
  }
}

@media screen and (max-width: 2100px) and (min-width: 1501px) {
  .recipe-grid {
    columns: 5;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1201px) {
  .recipe-grid {
    columns: 4;
  }
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .recipe-grid {
    columns: 3;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .recipe-grid {
    columns: 2;
  }
}


