.recipe-detail-card {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 1rem;
  border: 1px solid rgba(220, 220, 220, 0.8);
  border-radius: .5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0,0,0,0.1);
  margin-top: 1rem;

  .recipe-header {
    display: grid;
    grid-template-columns: 1fr auto;

    background-image: linear-gradient(120deg, #ff8f58 0%, #f6d365 100%);
    color: white;
    height: 9rem;
    align-items: center;

    .recipe-info {
      margin-left: 1.5rem;

      .recipe-name {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
      }

      .recipe-interaction {
        display: flex;
        flex-direction: row;
      }
    }

    .recipe-owner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      min-width: 10rem;
      padding: 0 1.5rem;
      font-size: 1.4rem;

      &:after {
        content: '';
        position: absolute;
        left: -50%;
        width: 150%;
        height: 100%;
        clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 50% 100%, 0% 50%, 50% 0);
        background-color: rgba(0,0,0,.08);
      }

      &:before {
        content: '';
        position: absolute;
        left: -80%;
        width: 180%;
        height: 100%;
        clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 50% 100%, 0% 50%, 50% 0);
        background-color: rgba(246, 243, 110, 0.3);
      }

      .owner-img {
        position: relative;
        z-index: 3;
        width: 5rem;
        height: 4rem;
        border-radius: .8rem;
        border: 1px solid white;
      }

      .owner-name {
        position: relative;
        z-index: 3;
        color: white;
        font-weight: 600;
      }
    }
  }

  .recipe-r-1, .recipe-r-2, .recipe-r-3, .recipe-r-4 {
    padding: 0 1.5rem 0 1.5rem;
  }

  .recipe-r-3 fa-icon.ml-1, .recipe-r-4 fa-icon {
    cursor: pointer;
    color: #2ecc71;
    &:hover {
      color: #f09819;
    }
  }

  .recipe-r-1 {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 250px 1fr;
    .recipe-image {
      width: 100%;
      max-height: 190px;
      outline: .2rem solid rgba(0,0,0,.1);
    }
    .recipe-description {
      font-size: 1.2rem;
    }
  }

  .recipe-r-2 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    .recipe-prep, .recipe-cook, .recipe-ready {
      text-align: center;
      border-radius: .5rem;
      border: 2px dashed gainsboro;
    }
    .recipe-prep { color: #1b83da; }
    .recipe-cook { color: #ff512f; }
    .recipe-ready { color: #2ecc71; }

    .recipe-time-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 .5rem;
      }
    }
  }

  .recipe-r-3 {
    h4 {
      letter-spacing: 2px;
      text-decoration: underline;
    }

    .recipe-ingredients {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: .5rem;

      .ingredient {
        display: grid;
        grid-template-columns: auto auto auto 1fr auto;
        border: 1px solid rgba(220, 220, 220, 0.8);
        border-radius: .4rem;
        box-shadow: 0.1rem 0.2rem 0.3rem 0 rgba(0,0,0,0.1);
        padding: .5rem 1rem;

        .amount, .unit {
          font-weight: bold;
          margin-right: .5rem;
        }
      }
    }
  }

  .recipe-r-4 {
    margin-bottom: 2rem;
    h4 {
      letter-spacing: 2px;
      text-decoration: underline;
    }
    .recipe-direction {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: .5rem;

      .direction {
        display: grid;
        grid-template-columns: auto 1fr auto;
        box-shadow: 0.1rem 0.2rem 0.3rem 0 rgba(0,0,0,0.1);
        border-radius: .4rem;
        border: 1px solid rgba(220, 220, 220, 0.8);
        align-items: center;
        .directions-number {
          display: grid;
          align-items: center;
          height: 100%;
          width: 2rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: white;
          text-align: center;
          background-color: #24aa86;
        }
        .directions-description {
          padding: .5rem;
        }
      }
    }
  }
}

:host ::ng-deep .popover {
  border: 1px solid rgba(220, 220, 220, 0.8);
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0,0,0,0.1);

  .popover-body {
    font-size: 1rem !important;
    font-weight: 600;
    color:  #ff8f58 !important;
  }
}
