<div class="recipe-detail-card">
  <div class="recipe-header">
    <div class="recipe-info">
      <div class="recipe-name">{{recipe?.name}}</div>
      <div class="recipe-interaction">
        <div class="say-cheese mr-3">
          <app-interaction-icon [recipeId]="recipe?.id" [icon]="faCheese" [num]="recipe?.numberLiked"></app-interaction-icon>
        </div>
        <div class="say-cook">
          <app-interaction-icon [recipeId]="recipe?.id" [icon]="faFire" [num]="recipe?.numberTried"></app-interaction-icon>
        </div>
      </div>
    </div>
    <div class="recipe-owner">
      <img class="owner-img" [src]="recipe?.user?.image" alt="User Avatar" (error)="useUserPlaceHolder($event)">
      <div class="owner-name">{{recipe?.user?.userName}}</div>
    </div>
  </div>
  <div class="recipe-r-1">
    <img class="recipe-image" [src]="recipe?.image" alt="Recipe Image" (error)="useRecipePlaceHolder($event)">
    <div class="recipe-description">
      {{recipe?.description}}
      <mat-chip-list class="mt-2 ml-auto">
        <mat-chip *ngFor="let tag of recipe?.tags" [ngStyle]="{'background': tag?.color}" selected>{{tag?.name}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="recipe-r-2">
    <div class="recipe-prep">
      <div class="recipe-time-icon"><i class="material-icons">room_service</i><span>PREP TIME</span></div>
      <div>{{recipe?.prepTime}} minutes</div>
    </div>
    <div class="recipe-cook">
      <div class="recipe-time-icon"><i class="material-icons">outdoor_grill</i><span>COOKING TIME</span></div>
      <div>{{recipe?.cookTime}} minutes</div>
    </div>
    <div class="recipe-ready">
      <div class="recipe-time-icon"><i class="material-icons">restaurant_menu</i><span>READY TIME</span></div>
      <div>{{recipe?.readyTime}} minutes</div>
    </div>
  </div>
  <div class="recipe-r-3">
    <h4>Ingredients</h4>
    <div class="recipe-ingredients">
      <ng-container *ngFor="let ingredient of recipe?.ingredients">
        <div class="ingredient" placement="top" triggers=""
             [popover]="ingredient?.tip" [popoverTitle]="'Tips'" [isOpen]="ingredient?.isOpen">
          <fa-icon [icon]="faTags" [flip]="'both'" class="mr-3"></fa-icon>
          <span class="amount">{{ingredient?.amount}}</span>
          <span class="unit">{{ingredient?.unit}}</span>
          <span class="ingredient-name">{{ingredient?.name}}</span>
          <fa-icon *ngIf="ingredient?.tip" [icon]="faQuestionCircle" class="ml-1" [size]="'lg'" (click)="ingredient.isOpen = !ingredient.isOpen"></fa-icon>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="recipe-r-4">
    <h4>Direction</h4>
    <div class="recipe-direction">
      <ng-container *ngFor="let step of recipe?.steps">
        <div class="step" placement="top" triggers=""
             [popover]="step?.tip" [popoverTitle]="'Tips'" [isOpen]="step?.isOpen">
          <div class="step-number">{{step?.index}}</div>
          <div class="step-description">{{step?.direction}}</div>
          <fa-icon *ngIf="step?.tip" [icon]="faExclamationCircle" class="mx-3" [size]="'lg'" (click)="step.isOpen = !step.isOpen"></fa-icon>
        </div>
      </ng-container>
    </div>
  </div>
  <br>
</div>
<br>
