.container-fluid {
  max-width: 1800px;
}

.recipe-detail-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;

  box-shadow: 0.8rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  border-top: 1px solid rgba(220, 220, 220, 0.45);
  border-left: 1px solid rgba(220, 220, 220, 0.45);
  background: #ffffff;
  margin-top: 380px;
  width: 100%;

  .recipe-r-1 {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
    min-height: 6rem;
    width: 100%;

    .recipe-header {
      position: absolute;
      margin: 0 auto;
      right: 0;
      left: 0;
      bottom: 1rem;
      max-width: 70%;
      padding: .5rem 1.5rem;
      align-items: center;
      background: #ffffff;
      box-shadow: 0.8rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
      border-radius: .4rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: .5rem;
      justify-content: center;

      .recipe-image {
        position: relative;
        max-width: 100%;
        min-width: 80%;
        max-height: 350px;
        margin: 2.5rem auto;
        outline: .1rem solid #ffffff;
        outline-offset: -.5rem;
      }

      .recipe-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: .5rem;

        .recipe-name {
          font-size: 40px;
          font-weight: 500;
          line-height: 45px;
          letter-spacing: -2px;
        }

        .recipe-sub-info {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: auto auto auto;
          grid-column-gap: .5rem;
          padding-top: .5rem;
          font-size: 1.5rem;
          color: rgba(0, 0, 0, 0.9);

          span {
             margin: 0 .5rem;
          }
        }

        .recipe-interaction {
          .like-emoji, .cook-emoji {
            color: #aaa;
          }
        }

      }
    }
  }

  .recipe-r-2, .recipe-r-3, .recipe-r-4 {
    padding: 0 1.5rem 0 1.5rem;
  }

  .recipe-r-2 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    .recipe-prep, .recipe-cook, .recipe-ready {
      text-align: center;
      border-radius: .5rem;
      border: 2px dashed gainsboro;
    }
    .recipe-prep { color: #1b83da; }
    .recipe-cook { color: #ff512f; }
    .recipe-ready { color: #2ecc71; }

    .recipe-time-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 .5rem;
      }
    }
  }

  .recipe-r-3 {

    .header {
      position: relative;
      margin-bottom: 1rem;
      span:first-child {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: .5rem 0;
        color: #ff8f58;
      }
      .title {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: .5rem .5rem;
        letter-spacing: 1px;
        color: #ff8f58;
        text-transform: uppercase;
        opacity: 0.8;
      }
    }

    .recipe-ingredients {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;

      .ingredient {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto 1fr auto;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;

        background: transparent;
        box-shadow: 0.8rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
        border-radius: .4rem;
        border-top: 1px solid rgba(220, 220, 220, 0.45);
        border-left: 1px solid rgba(220, 220, 220, 0.45);
        transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
          transform: scale(1.04);
          box-shadow: 0.8rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.2);
        }

        .tag-icon {
          display: grid;
          align-items: center;
          height: 100%;
          width: 3rem;
          font-size: 1.2rem;
          font-weight: bold;
          color: white;
          text-align: center;
          background-color: #ff8f58;
          padding: .8rem;
          cursor: pointer;
        }

        .amount, .unit {
          font-weight: bold;
          margin-right: .5rem;
        }
      }
    }
  }

  .recipe-r-4 {
    margin-bottom: 2rem;
    .header {
      position: relative;
      margin-bottom: 1rem;

      span:first-child {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: .5rem 0;
        color: #24aa86;
      }

      .title {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: .5rem .5rem;
        letter-spacing: 1px;
        color: #24aa86;
        text-transform: uppercase;
        opacity: 0.8;
      }
    }

    .recipe-direction {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: .8rem;

      .direction {
        display: grid;
        grid-template-columns: auto 1fr auto;
        box-shadow: 0.8rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
        border-radius: .4rem;
        border-top: 1px solid rgba(220, 220, 220, 0.45);
        border-left: 1px solid rgba(220, 220, 220, 0.45);
        align-items: center;
        .directions-number {
          display: grid;
          align-items: center;
          height: 100%;
          width: 2rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: white;
          text-align: center;
          background-color: #24aa86;
        }
        .directions-description {
          padding: .5rem;
        }
      }
    }
  }

  .recipe-r-3, .recipe-r-4 {
    .tip {
      cursor: pointer;
      padding: .8rem;
      color: #2ecc71;
      &:hover {
        color: #f09819;
        transform: scale(1.2);
      }
    }
  }
}

:host ::ng-deep .popover {
  border: 1px solid rgba(220, 220, 220, 0.8);
  box-shadow: 0.8rem 0.7rem 1rem -0.2rem rgba(0, 0, 0, 0.1);

  .popover-body {
    font-size: 1rem !important;
    font-weight: 600;
    color:  #ff8f58 !important;
  }
}
