$side-navigation-toggle-w: 42px;
$ingredient-color: #ff9447;
$direction-color: #24aa86;

// RECIPE FORM STYLES
.create-recipe-form {
  .mat-card {
    border: 1px solid rgba(220, 220, 220, 0.5);
    box-shadow: .2rem .2rem .4rem -.1rem rgba(0, 0, 0, 0.1) !important;
  }

  .title {
    .title-text {
      font-size: 1.5rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      margin: 0 1.5rem;
    }
    fa-layers {
      .file {
        font-size: 3rem;
        color: #ff512f;
      }
      .folk {
        font-size: 1.5rem;
        color: white;
      }
    }
  }

  .add-ingredient-btn, .add-direction-btn {
    position: absolute;
    top: 0;
    left: 1rem;
    min-width: 160px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: ease-in-out .3s;
    box-shadow:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.15),
      3px 3px 10px 0px rgba(0, 0, 0, 0.2) !important;

    &:hover{
      transform: scale(1.05);
      box-shadow:
        0px 3px 8px -2px rgba(0, 0, 0, 0.15),
        0px 2px 2px 0px rgba(0, 0, 0, 0.15),
        3px 3px 10px 2px rgba(0, 0, 0, 0.2) !important;
    }
  }
  .add-ingredient-btn { background-color: #ff8f58; }
  .add-direction-btn { background-color: #24aa86; }

  .border-wrapper-ingredient, .border-wrapper-direction {
    border-radius: .5rem;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1rem;
  }
  .border-wrapper-ingredient { border: 1px solid rgba(255, 143, 88, 0.5); }
  .border-wrapper-direction {
    border: 1px solid rgba(36, 170, 134, 0.5);
  }

  // INSIDE .border-wrapper-ingredient
  .side-navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    border-radius: .2rem;
    background-color: #FFDE68;

    .side-navigation-toggle, .delete-btn, .edit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transition: .2s ease-in-out;
      cursor: pointer;
      width: #{$side-navigation-toggle-w};
      color: #ffffff;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow:
          -1px 0px 0px 0px rgba(253, 253, 253, 0.3),
          1px 0px 0px 0px rgba(253, 253, 253, 0.3);
      }
    }

    .mat-drawer-side.mat-drawer-end { border: unset; }

    .action-button-wrapper {
      background-color: #FFDE68;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }
  }

  .item-panel {
    margin: 0 0 1rem 0;
    .mat-expansion-panel-header, .mat-expansion-panel-header[aria-disabled=true] {
      color: initial;
      padding: 0;
      width: 100%;
    }

    .item-body {
      display: grid;
      grid-template-columns: 35px 1fr;
      grid-gap: .5rem;
      width: 100%;
      padding-right: #{$side-navigation-toggle-w};

      .ingredient-icon, .direction-icon {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 50px;
        color: white !important;
      }
      .ingredient-icon { background-color: #ff8f58; }
      .direction-icon {
        position: relative;
        z-index: 1;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: #24aa86;
      }

      .ingredient-content, .direction-content {
        padding: 1rem .5rem 1rem 0;
        word-wrap: break-word;
        word-break: break-word;
      }

      .ingredient-content {
        .amount, .unit, .name { padding: 0 .2rem; }
        .amount, .unit { font-weight: bolder; }
      }
    }

    .ingredient-tip, .direction-tip {
      display: grid;
      grid-template-columns: 35px 1fr;
      grid-gap: .5rem;
      width: 100%;
      padding-right: #{$side-navigation-toggle-w};
      .tip {
        padding: 1rem .2rem;
        border-top: 1px solid rgba(128, 128, 128, 0.1);
        word-wrap: break-word;
        word-break: break-word;
      }
    }
    .ingredient-tip div:first-child { background-color: #{$ingredient-color}; }
    .direction-tip div:first-child { background-color: #{$direction-color}; }
  }

  mat-form-field {
    width: 100%;
    font-size: 1rem;
    mat-hint {
      font-size: 0.8rem;
    }
  }
}

// DRAG & DROP STYLES
.cdk-drag-preview {
  @extend .create-recipe-form;
  ::ng-deep .item-panel .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.direction-drag-item {
  position: relative; width: 100%;
}

.direction-drop-area.cdk-drop-list-dragging .direction-drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// SHADOW DOM OVERRIDE STYLES
:host ::ng-deep .side-navigation .mat-drawer-content {
  display: grid;
  justify-items: center;
}

:host ::ng-deep .item-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0;
}

// MEDIA QUERY
@media screen and (max-width: 768px) {
  .equal-sign {
    display: none;
  }
}





