.create-recipe-form {
  .mat-card {
    border: 1px solid rgba(220, 220, 220, 0.5);
    box-shadow: .2rem .2rem .4rem -.1rem rgba(0, 0, 0, 0.1) !important;
  }

  .title {
    .title-text {
      font-size: 1.5rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      margin: 0 1.5rem;
    }
    fa-layers {
      .file {
        font-size: 3rem;
        color: #ff512f;
      }
      .folk {
        font-size: 1.5rem;
        color: white;
      }
    }
  }

  .add-ingredient-btn, .add-direction-btn {
    position: absolute;
    top: 0;
    left: 1rem;
    min-width: 160px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: ease-in-out .3s;
    box-shadow:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.15),
      3px 3px 10px 0px rgba(0, 0, 0, 0.2) !important;

    &:hover{
      transform: scale(1.05);
      box-shadow:
        0px 3px 8px -2px rgba(0, 0, 0, 0.15),
        0px 2px 2px 0px rgba(0, 0, 0, 0.15),
        3px 3px 10px 2px rgba(0, 0, 0, 0.2) !important;
    }
  }

  .add-ingredient-btn {
    background-color: #ff8f58;
  }

  .add-direction-btn {
    background-color: #24aa86;
  }

  .border-wrapper-ingredient, .border-wrapper-direction {
    border-radius: .5rem;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1rem;
  }

  .border-wrapper-ingredient {
    border: 1px solid rgba(255, 143, 88, 0.5);
  }

  .border-wrapper-direction {
    border: 1px solid rgba(36, 170, 134, 0.5);
  }

  // INSIDE .border-wrapper-ingredient

  .side-navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    color: white;
    border-radius: .2rem;
    background-color:#ff9447;

    fa-icon {
      cursor: pointer;
    }

    .mat-drawer-side.mat-drawer-end {
      border: unset;
    }

    .action-button-wrapper {
      background-color: #ff9447;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      height: 100%;

      .delete-btn {
        margin: 0 1rem;
        color: white;
        transition: color .2s ease-in-out;
        &:hover {
          color: #FF3A31;
        }
      }

      .edit-btn {
        margin: 0 1rem;
        color: white;
        transition: color .2s ease-in-out;
        &:hover {
          color: #262626;
        }
      }
    }
  }

  .ingredient-item {
    margin: 0 0 1rem 0;
    .mat-expansion-panel-header, .mat-expansion-panel-header[aria-disabled=true] {
      color: initial;
      padding: 0;
    }

    .ingredient-body {
      display: grid;
      grid-template-columns: 35px 1fr;
      grid-gap: .5rem;
      .ingredient-icon {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 50px;
        background-color: #ff8f58;
        color: white !important;
      }

      .ingredient-content {
        padding: 1rem 0;
        .amount, .unit, .name {
          padding: 0 .2rem;
        }

        .amount, .unit {
          font-weight: bolder;
        }
      }
    }

    .ingredient-tip {
      display: grid;
      grid-template-columns: 35px 1fr;
      grid-gap: .5rem;
      div:first-child {
        background-color: #ff8f58;
      }
      .tip {
        padding: 1rem .2rem;
        border-top: 1px solid rgba(128, 128, 128, 0.1);
      }
    }
  }

  mat-form-field {
    width: 100%;
    font-size: 1rem;
    mat-hint {
      font-size: 0.8rem;
    }
  }
}

:host ::ng-deep .ingredient-item .mat-expansion-panel-header .mat-expansion-indicator {
  margin: 0 1rem 0 .5rem;
}

:host ::ng-deep .side-navigation .mat-drawer-content {
  display: grid;
  justify-items: center;
}

:host ::ng-deep .ingredient-item .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .equal-sign {
    display: none;
  }
}





