// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fudo-angular-ui-primary: mat-palette($mat-indigo);
$fudo-angular-ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fudo-angular-ui-warn: mat-palette($mat-red);

$fudo-angular-ui-blue: #3884ff;
$fudo-angular-ui-orange: #ff9447;
$fudo-angular-ui-red: #ff4747;
$fudo-angular-ui-green: #42ed70;
$fudo-angular-ui-black: #000000;
$fudo-angular-ui-gray: #949599;
$fudo-angular-ui-yellow: #d9d566;

// Create the theme object (a Sass map containing all of the palettes).
$fudo-angular-ui-theme: mat-light-theme($fudo-angular-ui-primary, $fudo-angular-ui-accent, $fudo-angular-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fudo-angular-ui-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap');
@import url('~ngx-toastr/toastr.css');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; 	text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;}

.custom-toastr {
  width: 400px !important;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.1) !important;
  .toast-title {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.shadow-border {
  border-top: .8px solid rgba(169, 169, 169, 0.2);
  border-bottom: .2px solid rgba(169, 169, 169, 0.15);
  border-right: .2px solid rgba(169, 169, 169, 0.15);
  border-left: .8px solid rgba(169, 169, 169, 0.2);
  border-radius: .2rem !important;
  box-shadow: .2rem .2rem .4rem -.1rem rgba(0, 0, 0, 0.1) !important;
}

.cdk-overlay-container {
  .cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
    background-image: linear-gradient(120deg, #f6d365b8 0%, #ff6c419c 100%) !important;
    backdrop-filter: blur(4px);
    transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    background-color: unset;
  }
}

.modalComeIn {
  animation: modalComeIn 600ms ease-in-out;
  .mat-dialog-container {
    box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(modalComeIn) {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(.8, .8);
  }
  65.5% {
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@include keyframes(modalHeadOut) {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(35px) scale(.97, .97);
  }
}

@media screen and (min-width: 992px) {
  .container-fluid {
    width: 85%;
  }
}

